[2012-02-16 01:21] ProCynic opened #3 "Secure.Security.Connected()"
This method is not available without modifying your Play installation.  Maybe have a Security.java that extends Secure.Security and provides a public Connected method that calls Secure.Security.Connected?

[2012-02-17 04:32] ProCynic commented on #3
fixed.  https://github.com/w7cook/OpenBook/commit/6d8a26d6ccdf71556001487cde5f0b127694b49f

[2012-02-17 04:32] #3 closed, assigned to nobody

[2012-04-13 17:47] fism88 opened #118 "Blank Comments"
On the main News Feed if you click the Comment button when nothing is typed in, it posts the default "new comment..." text

[2012-04-13 18:44] amshali opened #120 "Big photo in the post"
When I upload a big photo size wise, it will show up as a in the news with the same size which is very big and it doesn't look very well. Can we have it smaller in the news? maybe a thumbnail version of it?

[2012-04-13 19:02] jtessler commented on #120
We can add a `max-width` to all images in posts until I get a better thumbnail system implemented.

[2012-04-13 19:21] amshali commented on #120
Okay, please do so for now.

[2012-04-13 19:23] amshali opened #121 "Search on first name and last name doesn't work"
Hi
We want to be able to search over first name and last name. When I search someone using the first and last name, it doesn't find anything.

[2012-04-13 19:25] amshali opened #122 "Signup CAPTCHA"
Hi
The signup looks great but we need captcha.

[2012-04-13 19:27] amshali opened #123 "Confirmation Page for Signup"
We need a confirmation page for when they sign up successfully or maybe unsuccessfully. A page that shows a message saying, for example, "Congratulation! You signed up to OpenBook! Please login here: ..."

[2012-04-13 19:28] amshali opened #124 "List of events"
We need a list of upcoming events and a list of past events.

[2012-04-13 19:34] amshali opened #125 "Make the rhs nav right alighned"
Hi
Please make the rhs navigation bar to be right aligned. By that I mean it should be aligned with the right side of the page. And that would be great if it could have the same size in all the pages. There are some pages in which the rhsnav has different width.

[2012-04-13 19:37] amshali opened #126 "Posts are not showing correctly after a checkin"
Funny looking post list!

[2012-04-13 19:44] amshali opened #127 "Small gray box next to likes number"
There is a small gray box right next to the number of likes for each post. Please remove that.

[2012-04-13 19:46] amshali opened #128 "Comment doesn't work when I click it with mouse"
I cannot make a comment when I want to submit a comment by mouse clicking the comment button. Please figure out what the issue is.

[2012-04-13 19:57] ghost commented on #128
i'm not having that issue. I cloned the latest repo and it seems to be working. What changes did you make before the comments stopped working?

[2012-04-13 20:07] amshali commented on #128
You are right. Thanks.

[2012-04-13 20:07] #128 closed, assigned to nobody

[2012-04-13 20:21] amshali opened #130 "Redundant comments are shown"
Create as many as 4 comments on a post. Refresh the page. You will see "n more comments". Click on that and it will show some of the comments redundantly.

[2012-04-13 20:25] ghost commented on #130
I think I'm going to remove the hidden comments for now until I can find a better way to display comments. I'll look for some alternatives and get back to you. Thanks.

[2012-04-13 20:30] amshali commented on #130
Good, thanks. So what is the consequence of this change?

[2012-04-13 20:32] amshali opened #132 "Number of unread messages in inbox"
Please show the number of unread messages next to Inbox

[2012-04-13 20:33] amshali opened #133 "A list view for messages"
Please create a list view for messages. The way they are presented right now is kinda awkward.

[2012-04-13 20:33] ghost commented on #130
For right now all the comments will show for each post. I want to find a way to only show the last 2 or 3 comments and give the user an option to see all comments so that there aren't any redundancies. Also, the way I had it was causing problems with the like button for each comment.

[2012-04-13 20:36] amshali commented on #130
that is cool, but show and hide for all of them would be okay too

[2012-04-13 21:07] amshali commented on #130
We definitely need a hide show.
Thanks

[2012-04-13 21:07] #130 closed, assigned to nobody

[2012-04-13 21:07] amshali opened #135 "Hide/Show for all comments"
We need a hide/show for all the comments.

[2012-04-13 21:52] ProCynic commented on #133
https://github.com/w7cook/OpenBook/pull/138

[2012-04-14 00:57] ProCynic commented on #126
has to do with controllers/Posts.java

[2012-04-14 01:01] ProCynic commented on #126
https://github.com/w7cook/OpenBook/pull/139

[2012-04-14 01:20] ProCynic commented on #132
Not great but better than nothing.
https://github.com/w7cook/OpenBook/pull/139

[2012-04-14 01:32] ProCynic commented on #125
I think this is a grid 920 issue

[2012-04-14 02:44] amshali commented on #133
Still, there can be some improvements.

[2012-04-14 02:57] ProCynic opened #141 "new post creation needs a rate limit"
seriously, try clicking madly on the post button.

[2012-04-14 02:58] amshali commented on #126
Thanks!

[2012-04-14 02:59] #126 closed, assigned to amshali

[2012-04-14 03:00] amshali commented on #141
I second that. Any ideas on how to do this?
CAPTCHA after a couple of insane posts?

[2012-04-14 03:00] amshali commented on #132
We need parenthesis around the number or maybe brackets.

[2012-04-14 03:02] amshali opened #142 "Idea on Avatar"
How about using Gravatar
https://en.gravatar.com/
for creating user's profile picture? Would be cool I think!

[2012-04-14 03:09] ProCynic commented on #141
just put something in the javascript that says it can't be triggered more than once every 3 seconds or something.

[2012-04-14 03:13] ProCynic commented on #132
https://github.com/w7cook/OpenBook/pull/143

[2012-04-14 03:32] amdaddeo commented on #121
OK, will work on this.

[2012-04-14 04:32] ProCynic opened #144 "js sharing between event and checkin"
we've got js for event and checkin that displays a google map.  Is there any reason they can't share js?  I'm trying to pull the event js out into it's own file but that introduced a bug I haven't tracked down yet.
https://github.com/ProCynic/OpenBook/tree/api

[2012-04-14 04:47] amshali commented on #144
We should be able to. Let me look at too.

[2012-04-14 04:49] ProCynic commented on #144
make sure you look at the code in my repo that I linked because that's the version that I'm probably going to be merging that in soon.

[2012-04-14 05:39] amshali opened #145 "Show fuzzy dates and times"
Use this jQuery plugin for showing dates:
http://timeago.yarp.com/

[2012-04-14 15:52] pk1m commented on #145
.gcmgzc

Amin Shali reply@reply.github.com wrote:

[2012-04-14 16:01] amshali commented on #145
What?

[2012-04-14 16:08] amshali commented on #125
No it's not. Fixed it.

[2012-04-14 16:09] #125 closed, assigned to t3hmrman

[2012-04-14 16:09] #132 closed, assigned to bhomerdodson

[2012-04-14 16:10] #144 closed, assigned to nobody

[2012-04-14 16:11] amshali commented on #141
what if they don't do it through Web UI?

[2012-04-14 17:22] amshali opened #147 "i18n Everyone, &{'i18n.everyone'}"
Please start i18n for your feature.

[2012-04-14 17:23] amshali commented on #147
See this commit as a sample:
https://github.com/w7cook/OpenBook/commit/aac65b4048e609a9b6c08d4f552280ececd01695

[2012-04-14 17:35] ProCynic commented on #141
well, at that point you're starting to talk about recognizing a dos attack, which is a different problem

[2012-04-14 19:25] fism88 opened #148 "Anniversary field will never show in edit_basic"
Should be changed to show up as an option to change if user has marked that he/she is currently in some sort of a relationship. Currently will only show up if user.profile.hasAnniversary() is true, but the user never gets a chance to change that.

[2012-04-14 23:54] ProCynic opened #150 "cannot create multiple events"
`PersistenceException occured : org.hibernate.exception.ConstraintViolationException: Could not execute JDBC batch update`

on line

`event.save();`

[2012-04-15 05:02] amshali commented on #150
Needs more testing.

[2012-04-15 05:05] ProCynic commented on #150
I did notice that if you delete the existing event it will let you create
another one.  So the problem is trying to create an event when there is
already one in the database.  I'll look at the code that does it later.
-Geoffrey Parker

On Sun, Apr 15, 2012 at 12:02 AM, Amin Shali <
reply@reply.github.com

[2012-04-15 05:11] ProCynic commented on #150
looks like it's been fixed
https://github.com/w7cook/OpenBook/commit/e69f63e7622f6d2540258cb6953a57c4784baddd

[2012-04-15 05:13] ProCynic commented on #150
yeah, your commit worked.  Didn't notice until after I commented.

[2012-04-15 05:14] #150 closed, assigned to robertleeshook

[2012-04-15 16:35] amshali opened #154 "Comment position is funny"
Comment on a post and then refresh the page. The comment position will change

[2012-04-15 16:36] amshali opened #155 "Number of unread messages in inbox"
The number shown by the Inbox must be the number of _unread_ messages.

[2012-04-15 16:41] amshali opened #156 "Strange line in Change Skin page"
There is a strange line near the top of change skin page.

[2012-04-15 16:55] ProCynic commented on #155
there's no notion of read vs unread messages as things currently stand.
-Geoffrey Parker

On Sun, Apr 15, 2012 at 11:36 AM, Amin Shali <
reply@reply.github.com

[2012-04-15 17:28] amshali commented on #155
I think we must change the model then.

[2012-04-15 17:37] ghost commented on #154
I noticed that as well. Do we want a hanging indentation for the comments list? I thought it looked nicer. I'll try to make them all uniform. Thanks

[2012-04-15 17:40] ghost commented on #118
I fixed it. Would you mind doing a quick QA on it for me? I tested it but I just want to make sure. Thanks.

[2012-04-15 17:48] fism88 commented on #118
Looks good to me!

[2012-04-15 17:50] fism88 commented on #118
Are you working on Posts too? Same issue with blank posts if you can fix that too

[2012-04-15 18:12] amshali commented on #154
I don't like the hanging indentation. But it's your call. Please test throughly.

[2012-04-15 18:15] ghost commented on #118
Cool, yeah i'll fix posts too. Thanks for noticing the bug.

[2012-04-15 18:15] #118 closed, assigned to nobody

[2012-04-15 18:15] amshali commented on #118
Should I close this issue?

[2012-04-15 18:15] amshali commented on #118
never mind

[2012-04-15 18:29] amshali opened #157 "Better UI for list of friends"
We need a list of friends with the picture of each friend next to them. Also if we can replace that "remove friend" with a icon that would be great.
Add in:
Different colors per column.
icon for each friends picture
name
Remove friend
Table format

[2012-04-16 03:15] amshali opened #160 "Group show does not work"

[2012-04-16 03:18] amshali opened #161 "Better UI for list of pages"

[2012-04-16 03:38] amshali opened #163 "About me edit does not save"
After editing and hitting the save button, it does not save the updated values.

[2012-04-16 06:57] robertleeshook opened #165 "almost no cancel button on this app works"

[2012-04-16 14:49] ProCynic opened #167 "no visibility"
need to implement some sort of visibility on all stuff.

[2012-04-16 15:28] #156 closed, assigned to laurenyew

[2012-04-16 15:37] ProCynic commented on #167
this really touches on the data hierarchy we have.  If we're going to call our top level postable thing Likeable, we need to pull the User owner and that sort of thing up to it.

[2012-04-16 15:57] amdaddeo commented on #121
The elastic_search module in play is very new and doesn't implement this feature. I went through the module source code and it looks like in the place where they build the query based on search fields there is comment that says:

[code]

I am going to try to implement this feature in elastic search and then use it in OpenBook. Just wanted to let you know why it was taking so long.

[2012-04-16 18:31] jtessler commented on #145
Reopening the issue given Amin's request to use the jQuery plugin.

[2012-04-16 18:33] amshali commented on #145
Yes.

[2012-04-16 18:33] amshali commented on #121
Okay. Looking forward to that.

[2012-04-16 19:49] #123 closed, assigned to ellio

[2012-04-16 20:23] jtessler commented on #142
Switching assignment to @laurenyew, given her work on profile pictures. Maybe Gravatar can be one of the options when selecting your profile pic?

[2012-04-16 20:25] laurenyew commented on #142
Ok. Ill take a look at it.

[2012-04-16 20:31] amshali commented on #142
I like the option idea! Yes, please do a research and see if how we can have it as an option.

[2012-04-16 21:31] #122 closed, assigned to ellio

[2012-04-17 01:20] jtessler commented on #145
After importing timeago and updating various templates, I find this:
http://www.playframework.org/documentation/1.1.1/javaextensions

Play added a `since()` method to `Date`, so you can just call that to
produce the fuzzy dates. Not sure about future dates though... I feel
like someone robbed my time.

[2012-04-17 01:50] jtessler commented on #145
What do you think of the two implementations? I can pull either one to master.

[2012-04-17 02:00] amshali commented on #145
Sorry what is the second one?

[2012-04-17 02:02] jtessler commented on #145
https://github.com/jtessler/OpenBook/compare/w7cook:master...fuzzy_dates_timeago

[2012-04-17 02:14] amshali commented on #145
I like timeago plugin better because it's on the client side and at the end we need that for refreshing the dates.

[2012-04-17 02:51] jtessler commented on #145
Not sure why the pull request didn't auto-close this...

[2012-04-17 02:51] #145 closed, assigned to nobody

[2012-04-17 02:54] amshali opened #175 "Comment doesn't work"
Cannot add comment to any post.

[2012-04-17 02:56] amshali commented on #175
Template execution error (In /app/views/tags/comment.html around line 11)
Execution error occured in template /app/views/tags/comment.html. Exception raised was NullPointerException : Cannot get property 'updatedAt' on null object.

[2012-04-17 02:58] #175 closed, assigned to nobody

[2012-04-17 02:59] jtessler commented on #175
Ah, you're too fast! I was about to merge my own fix.

[2012-04-17 04:27] ProCynic commented on #167
using the check annotation of the secure module is more about controllers that models.  I think the best option is probably to just add visibility to likeable, as painful as that refactor might be.

[2012-04-17 05:02] #127 closed, assigned to nobody

[2012-04-18 00:34] amshali opened #177 "password file"
Post to Piazza and inform everyone that they need to have this file (conf/passwd.pwd) for signup. Also please add the file to .gitignore.

[2012-04-18 02:34] amshali commented on #177
LGTM

[2012-04-18 02:34] #177 closed, assigned to ellio

[2012-04-18 14:21] ghost commented on #154
fixed.

[2012-04-18 14:21] #154 closed, assigned to nobody

[2012-04-18 14:22] jtessler opened #181 "Fuzzy dates only work on homepage"
Some javascripts in `app/view/main.html` appear to use relative paths instead of absolute.

[2012-04-18 14:23] ghost commented on #135
added link to show all comments. Facebook doesn't allow the user to hide comments after they have shown all of them so I thought I would try it like that for a while and see what people think.

[2012-04-18 14:23] ghost opened #182 "Like/unlike disappears"
When you write a comment on a post and then refresh the page, it looks like the Like/Unlike button disappears. There's now a small empty box below the "delete" button.

[2012-04-18 14:33] #181 closed, assigned to nobody

[2012-04-18 14:45] amdaddeo commented on #121
This issue is closed.

[2012-04-18 14:45] #121 closed, assigned to amdaddeo

[2012-04-18 16:43] ellio opened #185 "A bunch of pages do not work do to an open form tag"
Pages such as account.html, setProfilePhotoPage.html, and I'm sure others do not work because there is an open {#form tag.  Traced it back to commit c50c7f5c9645b3b38f8be49ca3c866caa9b7769b by vados.

[2012-04-18 16:53] ghost commented on #182
I think I have a hidden comment list displaying the same comment and that's why the like button is disappearing. I'll fix it. thank you for bringing it to my attention.

[2012-04-18 17:00] ghost commented on #182
I made the changes. Feel free to test and verify my solution. I'll let you close the issue when you're satisfied with the results. Thanks.

[2012-04-18 17:43] amshali commented on #185
I fixed account.html, setProfilePhotoPage.html. What others?

[2012-04-18 17:47] ellio commented on #185
Let me do a quick run through on the files he changed to see if any others
were actually affected - it's possible that these were the only two.

On Wed, Apr 18, 2012 at 12:43 PM, Amin Shali <
reply@reply.github.com

[2012-04-18 17:52] ellio commented on #185
friendRequests.html, edit_basic.html are the only I could find.

[2012-04-18 20:05] amshali commented on #185
Fixed.

[2012-04-18 20:05] #185 closed, assigned to t3hmrman

[2012-04-18 20:05] amshali commented on #182
LGTM

[2012-04-18 20:05] #182 closed, assigned to nobody

[2012-04-18 20:19] #135 closed, assigned to nobody

[2012-04-18 20:19] amshali commented on #135
Check out the new issue in this regard

[2012-04-18 20:21] amshali opened #187 "Order of comemnts are wrong after refresh"
Try this
create 5 comments with a number representing the content of each one
1
2
3
4
5
.
Now refresh and click to show all comments.
Ordering is kinda messed up.

[2012-04-18 21:05] amshali commented on #187
Please note that I changed the way comments and post metadata are shown now.

[2012-04-18 21:40] ghost commented on #187
I fixed the ordering but there is still an issue with the formatting for the individual comments. The right edge of the comments list is a bit jagged. When you hit like it changes the width of the individual comment. It wasn't noticeable when the background was white but now the background is grey and it stands out. Any suggestions to fix it?

[2012-04-18 22:19] amshali commented on #187
how's it now?

[2012-04-18 22:42] ghost opened #188 "Wrong poster for profile page comments"
This issue was mentioned briefly in class before, but it's still there. When you click on another user's name and go to their 'profile' page, if you post a comment it will be as that friend's name instead of the current user.

[2012-04-18 22:57] ghost opened #189 "Mix of User.about(id) and Application.about(id) calls"
The links when you click on users' names are mixed all around the app between two different "about" pages: Users/about.html and Application/about.html. (For example, clicking on anyone's name within the news feed  leads to Users/about.html and within the Events pages it leads to Application/about.html)

I guess we decided in class to use Users/about.html?

[2012-04-18 23:07] ghost opened #190 "Event wall - posting issues"
You can post empty strings.

Some funky stuff happens with javascript injection.

[2012-04-18 23:15] amshali commented on #189
Yes.

[2012-04-18 23:23] ghost commented on #189
On that note, since Users/about.html is going to be the one showing up after a search for a user, there needs to be a Friend Request option on that page.

[2012-04-18 23:25] amshali commented on #189
Exactly. Agreed.

[2012-04-18 23:46] #120 closed, assigned to nobody

[2012-04-19 03:19] ProCynic commented on #141
I like the solution I came up with in the latest version of bootstrap:
https://github.com/w7cook/OpenBook/commit/b4558f701172e84ff9a37ac359eea4a9f68936aa

basically when you click post it checks if the post contains any nonwhite space characters and if it doesn't it clears and focuses the text area instead of actually creating the post.

[2012-04-19 04:34] #160 closed, assigned to kschloss

[2012-04-19 11:16] ProCynic commented on #188
This is because the comments api is wrong.  The comment creation method in controllers/Comments.java should not take a user id, it should have the logged in user be the author of the comment.

[2012-04-19 21:45] #161 closed, assigned to somecodemonkey

[2012-04-20 03:25] #148 closed, assigned to fism88

[2012-04-20 11:24] t3hmrman opened #199 "Default Background color"
For the default background color of the default skin, can you make it #dddddd?

Having things be contained by borders is kind of pointless if the internal space is exactly the same as the outside space...

[2012-04-20 13:05] laurenyew commented on #199
Sure. I can do that.

[2012-04-20 14:12] ghost commented on #187
it looks good. i'll close the issue.

[2012-04-20 14:12] #187 closed, assigned to nobody

[2012-04-20 14:39] laurenyew commented on #199
Amin said not to change the background color.

[2012-04-20 14:39] #199 closed, assigned to laurenyew

[2012-04-20 15:54] laurenyew opened #202 "Signup is not working"
I'm trying to do a signup, and I've apparently filled in all of the information correctly, since there are no error bars. However, when I click the signup button, nothing happens. (Even when I do an enter on the fields). Also the cancel button is not working. Please fix this.

[2012-04-20 15:57] laurenyew commented on #202
Nevermind. This is the secret password file.

[2012-04-20 15:57] #202 closed, assigned to nobody

[2012-04-20 16:02] laurenyew opened #203 "Signup email confirmation timeline save problem"
When doing a signup, after the email confirmation is set, clicking on the link for the email confirmation results in an error in the timeline.save()

[2012-04-20 16:45] ellio commented on #203
I tested this all before submitting, something else must have broken it - I'll look into it.

[2012-04-20 16:49] ellio commented on #203
This is probably related to the timeline code being added to the User constructor- have you tested making a new user, vados?

[2012-04-21 16:51] amshali opened #207 "Timeline issue when saving a new user"

[2012-04-21 16:53] t3hmrman commented on #207
When you create a new user? What does the error look like?
On Apr 21, 2012 11:51 AM, "Amin Shali" <
reply@reply.github.com>
wrote:

[2012-04-21 16:57] #207 closed, assigned to t3hmrman

[2012-04-21 16:58] amshali commented on #207
Sorry. Nevermind. Just had to pull.

[2012-04-21 17:09] amshali commented on #203
I think this is fixed. Lauren please pull and try and confirm.

[2012-04-21 17:11] t3hmrman commented on #203
Hey is this resolved, or should I take a look at it...

I essentially make a new timeline object with the new created user and save
it to the db... that's all
On Apr 21, 2012 12:09 PM, "Amin Shali" <
reply@reply.github.com>
wrote:

[2012-04-21 17:12] amshali commented on #203
I think it is resolved.

[2012-04-21 17:23] amshali opened #208 "Allowing users to choose a gravatar email."
It is good as it is now but that would be better if we allow them to use a gravatar email that they have already setup which is different from the one they use in OpenBook. I would say when they click on Use Gravatar, a popup box shows up and asks for their gravatar email. Then we use that one.

[2012-04-21 18:35] laurenyew commented on #208
Ok. I'll look into it.

[2012-04-21 18:37] laurenyew commented on #142
Pull Request #205: Fixed this issue

[2012-04-21 18:37] #142 closed, assigned to laurenyew

[2012-04-21 20:18] #203 closed, assigned to t3hmrman

[2012-04-22 20:29] amshali opened #210 "Elastic Search Exception"
Upon running openbook we get:

org.hibernate.LazyInitializationException: failed to lazily initialize a collection of role: models.Postable.posts, no session or session was closed
    at org.hibernate.collection.AbstractPersistentCollection.throwLazyInitializationException(AbstractPersistentCollection.java:383)
    at org.hibernate.collection.AbstractPersistentCollection.throwLazyInitializationExc

[2012-04-22 20:41] amdaddeo commented on #210
ElasticSearch by default tries to index everything, so by adding @ElasticSearchIgnore to the violating data, the issue should be resolved. I will do this asap.

[2012-04-23 02:16] amshali opened #213 "About me edit"
No edit button works.

[2012-04-23 02:44] ProCynic commented on #213
I'd be willing to fix it in the bootstrap version.
-Geoffrey Parker

On Sun, Apr 22, 2012 at 9:16 PM, Amin Shali <
reply@reply.github.com

[2012-04-23 02:52] fism88 commented on #213
Okay that works, thanks! I'm not sure what the problem is yet in the current code. It's working fine for me with nothing changed.

[2012-04-23 03:31] amshali commented on #213
Have you committed all the necessary files? It should work for me too, but it doesn't.

[2012-04-23 17:26] amshali opened #217 "Mardown caused error on post"
I removed it for now. But must be fixed.

Template execution error (In /app/views/tags/post.html around line 21)
Execution error occured in template /app/views/tags/post.html. Exception raised was MissingMethodException : No signature of method: java.lang.String.markdown() is applicable for argument types: () values: [].

play.exceptions.TemplateExecutionException: No signature of method: java.lan

[2012-04-23 17:29] #157 closed, assigned to laurenyew

[2012-04-23 17:29] #208 closed, assigned to laurenyew

[2012-04-23 19:24] #213 closed, assigned to fism88

[2012-04-23 20:26] astolarz commented on #217
What were you doing at the time to cause this?

[2012-04-23 20:52] amshali commented on #217
I started play and tried loading localhost:9000

[2012-04-23 21:19] astolarz commented on #217
I didn't get any errors. Did you run 'play dependencies' before hand?

[2012-04-23 21:25] amshali commented on #217
I did not. Maybe it was that. I reverted the changes. Did you committ your changes again ?

[2012-04-24 16:24] amshali commented on #163
@fism88 , @aluu317
This issue is still there. What are we gonna do about it?

[2012-04-24 16:56] fism88 commented on #163
Have some questions, will be there at 3pm in your office hours today

[2012-04-25 01:00] ProCynic commented on #190
try adding public/javascripts/post.js instead of duplicating it in the html.  That's in pull #219.

[2012-04-25 01:00] ProCynic commented on #167
#219

[2012-04-25 01:01] ProCynic commented on #188
After #219 replacing js with import of /public/javascripts/post.js should fix this.

[2012-04-25 02:10] ProCynic commented on #217
yeah, markdown requires a new module to work.

[2012-04-25 02:36] amshali commented on #167
should we close this?

[2012-04-25 02:37] amshali commented on #188
close?

[2012-04-25 13:24] ProCynic commented on #167
Not quite yet.  We still need to actually use the visibility in appropriate
places.  Basically anywhere a controller is doing a findAll it needs to be
replaced with find visible.
-Geoffrey Parker

On Tue, Apr 24, 2012 at 9:36 PM, Amin Shali <
reply@reply.github.com

[2012-04-25 13:40] ProCynic commented on #188
not yet.

[2012-04-25 14:16] #188 closed, assigned to nobody

[2012-04-25 14:25] fism88 opened #221 "Phone number field should accept only numbers"
Currently accepts any type of input

[2012-04-25 17:22] astolarz commented on #217
I've added it back, and still haven't seen the error you got. Let me know if you see it come up again.

[2012-04-25 17:22] #217 closed, assigned to astolarz

[2012-04-25 17:51] amshali commented on #217
Okay, I'll try to test it.

[2012-04-25 23:49] amshali opened #224 "java.io.FileNotFoundException: /home/amshali/src/play-1.2.4/wcookob (Is a directory)"
Try this:
Upload a photo in My Photo page and then go to the news page. You will see this error on the page:
java.io.FileNotFoundException: <Some Path> (Is a directory)

Running on firefox and Linux (if that matters.)

[2012-04-25 23:54] ProCynic commented on #224
confirmed.

[2012-04-26 00:06] ProCynic commented on #190
I think we should consider having event extend Commentable instead of Postable, so that it would have a comment area instead of a full fledged post area.

[2012-04-26 00:06] ProCynic commented on #141
Currently js prevents submitting empty posts.

[2012-04-26 03:06] jtessler opened #225 "Invalid image type: GreenTaijitu.svg"
An invalid image type, SVG, exists in `app/utils/Bootstrap.java`. I didn't notice this earlier because someone copied my code for uploading and removed the image type validation.

[2012-04-26 03:12] #225 closed, assigned to laurenyew

[2012-04-26 03:58] ProCynic commented on #189
I believe that Victor said that he would be converting all of this to Timeline.  Might ask him about it.

[2012-04-26 03:59] #133 closed, assigned to bhomerdodson

[2012-04-26 03:59] ProCynic commented on #124
This was added a while ago.  Could be cleaned up of course, but it exists.

[2012-04-26 03:59] #124 closed, assigned to robertleeshook

[2012-04-26 05:46] jtessler opened #228 "Error setting profile photo"
If you upload a photo, go to the set profile picture page, and then try to set it as profile picture, it fails...

[code]

[2012-04-26 14:05] laurenyew commented on #228
Looks like Geoff overwrote my changes to photos.
I had changed:
...#{if currentUser.equals(photo.owner)}
          ...#{form @Photos.setProfilePhoto(photo.id)}
            ...input type="submit" name="submit" class="btn" value=&{'photo.setAsProfilePhoto'} />...
          #{/form}
        #{/if}
to
:...a class = "button" href="@{Photos.setProfilePhoto(photo.id)}">...
      &{'photo.setAsProfilePhot

[2012-04-26 14:16] #221 closed, assigned to fism88

[2012-04-26 18:18] laurenyew opened #231 "Add a Photo, news removePost removes Photo"
Try this:
Upload a photo in My Photos page and then go to the news page.
click on the removePost button for the news post for the new photo.
Go back to the My Photos page. The photo you added is gone.

[2012-04-26 19:11] #224 closed, assigned to astolarz

[2012-04-26 19:11] #228 closed, assigned to laurenyew

[2012-04-26 19:22] jtessler commented on #231
Ah, I've noticed this before. Looking at the implementation for the timeline, that's basically working as intended. The post on the news page IS the photo uploaded. I'll reassign this to whomever is in charge of timeline.

We should rethink the timeline "removal" as simply "hiding" the post, but not deleting the corresponding content.

[2012-04-26 19:24] ProCynic commented on #231
exactly.  Photo extends Post for some reason and clicking remove post
removes the post from the database.
-Geoffrey Parker

On Thu, Apr 26, 2012 at 1:18 PM, Lauren Yew <
reply@reply.github.com

[2012-04-26 19:28] ProCynic commented on #231
If you just hide the thing, it'll still be there when you next reload the page and it shows you all your posts.  The real solution is to have Photo extend Commentable directly.

[2012-04-26 19:36] amshali commented on #231
Right, that would be better. Then we need to be able to post photo to "Wall". What is a photo post really? It's merely a link to the photo in the post content.

[2012-04-26 23:34] amshali commented on #167
Right.

[2012-04-27 03:15] amshali opened #233 "Transparent photos' background turns into black"
Try this:
Upload a photo (.png) with transparent background and then try to set it as profile picture. The background of the photo turns black.

[2012-04-27 03:16] amshali commented on #233
photo:
http://tinypic.com/r/17tyx5/6

[2012-04-27 04:35] #233 closed, assigned to nobody

[2012-04-27 04:41] jtessler opened #235 "Imported photo from Gravatar is too small"
We currently import a 100x100 image from Gravatar. It stretches to 120x120 for the profile picture, causing unwanted pixelation.

[2012-04-27 04:42] #235 closed, assigned to laurenyew

[2012-04-27 04:46] ProCynic opened #237 "Thumbnails full of jpeg artifacts"
Ever since those hard coded thumbnails were added -- which was a good idea in general -- the pictures have looked like crap.  Can we find a different resize function to generate them with?

[2012-04-27 13:18] #237 closed, assigned to nobody

[2012-04-27 15:16] melodyb commented on #190
If we were following Facebook as the model for Events, Facebook allows for an Event to contain Posts and essentially its own news feed of actions related to that Event. Do you think it would be better to remove some of that functionality by only allowing comments instead of full posts, or would Commentable retain the majority of those features?

[2012-04-27 15:21] ProCynic commented on #190
Commentable won't do that, it's just comments.   What I'm concerned with is code duplication across all the views of things that implement Postable.  Perhaps we could pull the majority of code out of news.html and put it in some sort of wall.html tag that can be included in news, about, groups, pages, and events.

[2012-04-27 16:45] amshali commented on #190
Good idea..... hmmm yeah

[2012-04-27 19:34] ProCynic commented on #189
I removed Application/about.html

[2012-04-27 19:34] #189 closed, assigned to nobody

[2012-04-27 22:25] ghost opened #240 "Resizing the comment box window past the newsfeed area"
We can resize the comment box to past the newsfeed area, which looks pretty corny

[2012-04-29 21:15] #210 closed, assigned to amdaddeo

[2012-04-29 21:17] astolarz commented on #210
I added @ElasticSearchIgnore to Postable.posts, which looks like it fixes this problem.

[2012-04-30 14:56] astolarz opened #250 "Server error from Signup"
I just tried to sign up a new account, got the email but when I clicked the link I got a server error:

Internal Server Error (500) for request GET /signup/confirm?id=496aac1a-d409-4001-b5c9-22ed29601705

Execution exception (In /app/models/User.java around line 146)
PersistenceException occured : org.hibernate.HibernateException: Found two representations of same collection: models.User.friendReq

[2012-04-30 22:34] ellio commented on #250
I'll fix this

[2012-04-30 23:50] seanpcoyle commented on #240
This can be fixed with the 'resize' CSS property on the textarea.  Options are "vertical", "horizontal", "both", and "none".  As is, the reply box isn't very wide.  Maybe we could widen it, then use the resize: "vertical" property on it?  That seems like the logical fix to me.

[2012-05-01 11:28] seanpcoyle opened #252 "comment.html tag has unclosed div"
Line 2 of /app/views/tags/comment.html has an unclosed div.  I'd close it myself, but closing it properly alters the layout of the comments and I wasn't sure how exactly the comments team wants the comments styled.

[2012-05-01 13:08] ProCynic commented on #252
That looks like my fault.  I'll check it out when I get a minute.

[2012-05-01 13:10] ProCynic opened #253 "Comment an Post creation broken."
Looks like the javascript isn't engaged at all.

[2012-05-01 14:26] ProCynic commented on #253
maybe a jquery import issue.

[2012-05-01 17:27] ProCynic commented on #253
ok, tracked it down to the line `var $jParent = window.parent.jQuery.noConflict();` in `showUpcomingBirthdays.html`. This needs to not be there.  Also, why do we need a whole view for this?

[2012-05-01 17:33] #253 closed, assigned to nobody

[2012-05-01 17:34] ProCynic commented on #252
fixed in #254

[2012-05-01 17:34] #252 closed, assigned to ProCynic

[2012-05-01 20:26] ProCynic opened #257 "Really long comments overflow comment area"
just overflow off to the side

[2012-05-01 20:27] ProCynic commented on #257
need to add line breaks every 40 chars.

[2012-05-01 20:34] ProCynic commented on #257
posts too.  post box ends at 120 chars on my screen.

[2012-05-01 20:36] #250 closed, assigned to nobody

[2012-05-01 20:45] ProCynic commented on #257
set to overflow:hidden for now.  Real solution is js to add &#8203 char at edge of div.

[2012-05-01 20:48] ProCynic commented on #257
overflow has to be on one of the divs in the comment tag for comment overflow.  But we could deal with post by adding overflow:hidden to the middle element of three-panel.html.  It's probably a good idea to add it to all three of them actually, and the two in two panel.

[2012-05-01 21:09] ellio opened #260 "Bootstrap defaultPhoto variables reset upon recompilation"
Try this:

1) Start play - make sure not to save any java files once its started
2) Create a new user
3) Confirm the signup for the user

Everything should work fine.

Now do this:

1) Edit some java file - adding a comment or somesuch should be enough.
2)  Create a new user
3) Confirm the signup for the user

The following error occurs: "this.profilePhoto = Photo.findById(Bootstrap.defaultProfile

[2012-05-01 21:35] amshali commented on #260
@laurenyew , @jtessler
Please have a look at this. I kinda suspect it might be lack of correct tagging on User and Profile relation.

[2012-05-01 21:53] laurenyew commented on #260
Ok. The basic reason for using the profile picture ID was to try to avoid hard coding. I think that now that we have photo objects for the profile picture, I can take out the use of those static variables. I'll take a look

[2012-05-02 21:35] ProCynic opened #268 "b3bob's skin is set to ut_skin instead of default"

[2012-05-02 21:48] ProCynic opened #269 "RSS feeds broken"
null pointer exception on line 48 of RSSFeed.java when an rss feed exists in the database.

[2012-05-02 22:12] jtessler opened #270 "Error when deleting profile photo"
Steps to recreate the error:
1. Upload photo
2. Set it as the profile photo
3. Go to "My Photos"
4. Delete the photo

The error:

[code]

However, if you do the same thing with background photo, it deletes gracefully and the background turns white.

[2012-05-02 22:15] ProCynic commented on #270
Probably something to do with the link between Profile and the photo.  Make sure you set the users profile pic back to default when they delete their current one.

**EDIT**
Make sure you switch the photos _before_ the delete.

[2012-05-02 22:16] t3hmrman commented on #270
Since jackie told me today that essentially all persistence errors come
from model disruptions, maybe it has something to do with the `@required`
annotation on profile pic? It is required right?
On May 2, 2012 5:12 PM, "Joe Tessler" <
reply@reply.github.com>
wrote:

[2012-05-02 22:17] ProCynic commented on #270
yup, we want required.  see the above comment.

[2012-05-02 22:19] t3hmrman commented on #270
Yeah I get that we want it, but maybe we need to disable the delete option
by checking if the picture to be deleted is the profile picture
On May 2, 2012 5:17 PM, "Geoffrey Parker" <
reply@reply.github.com>
wrote:

[2012-05-02 22:20] ProCynic commented on #270
Why would we not let people delete their own profile pics?

[2012-05-02 22:37] t3hmrman commented on #270
Sorry I misspoke (mistyped) - change the action from an actual delete to
reset to default's THEN delete. Deleting the picture in place might be the
problem, if other things are dependent
On May 2, 2012 5:20 PM, "Geoffrey Parker" <
reply@reply.github.com>
wrote:

[2012-05-02 22:38] ProCynic commented on #270
yeah, that's what I said.
https://github.com/w7cook/OpenBook/issues/270#issuecomment-5473986

[2012-05-02 22:40] t3hmrman commented on #270
Oh yeah, agreed then, didn't see the edit, just read joe's msg
On May 2, 2012 5:38 PM, "Geoffrey Parker" <
reply@reply.github.com>
wrote:

[2012-05-03 00:07] ghost commented on #163
Birthday saving functionality is still not there is it? when I tried to save a birthday yesterday for Jeff I got this error:

Execution error occured in template /app/views/Users/profile.html. Exception raised was NullPointerException : null.

156:               <td class="data">${profile.anniversary.format("MM/dd/yyyy")}</td>

[2012-05-03 00:29] fism88 commented on #163
I fixed that with my last pull request. It should be working. Have you pulled the latest stuff?

[2012-05-03 00:34] fism88 commented on #163
Let me know if it's broken again, I'll fix it up for you

[2012-05-03 01:15] ProCynic opened #273 "Birthday's not set in initial data"
I'm trying to fix the birthday thing but I can't test it because there's no birthdays in the database.

[2012-05-03 01:17] ghost commented on #273
Yeah, be aware that since birthday data hasn't really been available recently, I currently have it set so that all friends' birthdays are marked as today in the UpcomingBirthdays controller (you'll see the commented part). That's just for testing/showing the feature.
Once data starts running in, we can remove that

[2012-05-03 02:21] #231 closed, assigned to t3hmrman

[2012-05-03 02:51] ProCynic commented on #273
Check out what I did here: https://github.com/ProCynic/OpenBook/tree/html
I think it's a lot cleaner, both in the UI and the back end.
I deleted all the UpcomingBirthday files, removed the iframe, and replaced it with a simple list of users, capped at 5.
The controller has been replaced with 2 one line methods at the bottom of User.java
I also converted the send to wall modal to bootstrap so that

[2012-05-03 03:23] fism88 commented on #163
okay fixed it, it was working for Bob, but not Jeff

[2012-05-03 05:35] ghost commented on #269
i might have fixed it. Let me know if you're still getting the same error? Thanks

[2012-05-04 03:22] tkeeler opened #278 "Container-fluid div collapses on itself when window is too small"

[2012-05-04 06:34] jackietsay opened #279 "Markdown breaks Messages"
Add a message with content "test", it shows up as "java.io.FileNotFoundException: /home/jackie/cs378/OpenBook/test (Is a directory)"

Caused by markdown() in app/views/Messages/inbox.html:34

[2012-05-04 22:07] #260 closed, assigned to laurenyew

[2012-05-04 22:07] #268 closed, assigned to laurenyew

[2012-05-04 22:07] #270 closed, assigned to laurenyew

[2012-05-05 01:38] #269 closed, assigned to nobody

[2012-05-09 15:24] #273 closed, assigned to nobody

[2012-05-09 18:02] astolarz commented on #279
That error is not showing up anymore (I assume do to some changes you have made since filing this). There was a typo in Messages/inbox.html that caused the page to look all screwy ("dif" instead of "div").

[2012-05-09 18:02] #279 closed, assigned to astolarz

[2012-05-11 05:09] imjeee opened #288 "signup doesn't work"
I filled out all the information, clicked on signup, nothing happens.

[2012-05-11 05:18] ellio commented on #288
There was a piazza post a few weeks ago, marked important, saying that the password file was necessary for signup to work.  Read that post, do as said, signup will work.

[2012-05-11 05:19] imjeee commented on #288
okeydokey

[2012-05-11 05:23] imjeee commented on #288
nvm, piazza post 177 explains it.

[2012-05-11 05:23] #288 closed, assigned to nobody

[2012-05-12 20:02] #163 closed, assigned to fism88